link(rel="import", href="../bower_components/polymer/polymer.html")
dom-module(id="login-view")
	template
		div
			form(name="loginForm")
				paper-input(label="Username", name="userId")
				paper-input(type="password", label="Password", name="password")
				paper-button(value="submit", onclick="triggerLogin()") Login
	script.
		Polymer({
			is:'login-view',
			attached: function(){
			
			}
		});
		
		function login( form ) {
			return new Promise((resolve, reject) => {
				const data = new FormData( form );
				const LOGIN_API_URL = 'http://localhost:8080/api/auth/login';
				const METHOD = 'POST';
				let params = encodeFormData( data );
				
				fetch( LOGIN_API_URL , {
					method: METHOD,
					body: params,
					headers: {
						'Content-type': 'application/x-www-form-urlencoded'
					}
				})
				.then( res => {
					return res.json();
				})
				.then( data => {
					resolve(data.json());
				})
				.catch(err => {
					reject(err);
				})
			});
		}
		
		function encodeFormData( formData ) {
			let keys = formData.keys();
			let urldata = '';
			for( key of keys ){
				if ( urldata ) urldata += '&';
				urldata += `${key}=${encodeURIComponent(formData.get(key))}`;
			}
			return urldata;
		}
		
		function triggerLogin() {
			login( document.forms.loginForm)
			.then( res => {
				
				document.cookie = `sessionToken=${res.results.sessionToken};`;
				document.cookie = `sessionTimestamp=${res.results.timestamp};`;
				document.cookie = `sessionExpires=${res.results.expires}`;
			})
			.catch((err) => {
				console.log( err );
			})
		}
